div.numberStyle{
    float: left;
    margin: 3px;
    font-size: 90px;
    border: 1px solid black;
    border-radius: 5px;
    width: 95px;
    text-align: center;
}
div.highlight{
    float: left;
    margin: 2px;
    font-size: 90px;
    border: 2px solid blue;
    border-radius: 5px;
    width: 95px;
    text-align: center;
}
.clearfix{
    overflow: auto;
    zoom: 1;
}